In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

# Восстановление спроса на тестовых данных

Используем обучающие данные из файла data.zip, чтобы научиться восстанавливать спрос.

In [0]:
sales = pd.read_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/DemandRestoring_v0/data/sales_4001.csv', sep=',', decimal='.')
sales['Timestamp'] = pd.to_datetime(sales[u'purchase_date'])
sales = sales.set_index(['Timestamp'], drop=True).rename(columns={'quantity':'sales'})
sales.head()

           purchase_date  shop_id  ...  sales  price_after_discount
Timestamp                          ...
2013-01-02    2013-01-02     4001  ...      1                1480.0
2013-01-02    2013-01-02     4001  ...      1                2807.0
2013-01-02    2013-01-02     4001  ...      1                 979.0
2013-01-02    2013-01-02     4001  ...      1                3319.0
2013-01-02    2013-01-02     4001  ...      1                1899.0

[5 rows x 6 columns]

In [0]:
inventory = pd.read_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/DemandRestoring_v0/data/remains_4001.csv', sep=',', decimal='.')
inventory['Timestamp'] = pd.to_datetime(inventory[u'updated_at'])
inventory = inventory.set_index(['Timestamp'], drop=True).rename(columns={'quantity':'inventory'})
# inventory = inventory.sort_index()
inventory.head()

            shop_id  product_id  updated_at  inventory
Timestamp
2015-08-31     4001  4300059161  2015-08-31          0
2016-01-02     4001  4300059161  2016-01-02          0
2015-08-31     4001  4300059161  2015-08-31          1
2013-04-17     4001  4300051009  2013-04-17          1
2013-08-11     4001  4300051009  2013-08-11          0

В качестве списка всех магазинов и товаров используем информацию об остатках, так как при наличии записи о ненулевом остатке в inventory можно говорить об нулевых продажах в sales.

In [0]:
shops = np.sort(inventory['shop_id'].unique())
print(len(shops), shops)

products = np.sort(inventory['product_id'].unique())
print(len(products), products)

1 [4001]
14466 [4100000013 4100000017 4100000029 ... 4900005059 4900005473 4900005475]

Для каждого товара в каждом магазине расчитаем lambda.

In [0]:
lambda_data = pd.DataFrame(columns=['shop_id', 'product_id', 'month', 'lambda'])
lambda_data

Empty DataFrame
Columns: [shop_id, product_id, month, lambda]
Index: []

In [0]:
shop_id = 4001
product_id = 4100000013

# inventory = inventory[(inventory['product_id'] == product_id) & (inventory['shop_id'] == shop_id)]
# inventory[(inventory['product_id'] == product_id) & (inventory['shop_id'] == shop_id)]

# Агрегируем на всякий случай остатки на одну дату (берём максимально известный остаток за дату)
iv_ts = inventory.reset_index().groupby('Timestamp').agg({'inventory':np.max})

# Добавим пропущенные даты и заполним значения остатков в эти даты нулями
iv_ts = iv_ts.reindex(pd.date_range(np.min(iv_ts.index), np.max(iv_ts.index))).fillna(method='ffill')

# Добавим данные о продажах
sales_ts = sales[(sales['product_id'] == product_id) & (sales['shop_id'] == shop_id)]

# Объединим продажи и остатки в один датафрейм
iv_sales = sales_ts[['sales']].merge(iv_ts, how='right', left_index=True, right_index=True)
iv_sales['sales'].fillna(0, inplace=True)

# Удалим начало и "хвост" истории, когда продажи и остатки были равны нулю
positive_iv_sales = iv_sales[iv_sales.max(axis=1) > 0]
life_start_date = positive_iv_sales.index[0]
life_end_date = positive_iv_sales.index[-1]
iv_sales = iv_sales[(iv_sales.index >= life_start_date) & (iv_sales.index <= life_end_date)] 

# Дни, когда и остатки и продажи = нулю
zero_idx = (iv_sales['inventory'] == 0) & (iv_sales['sales'] == 0)
# Дни, когда продажи = остаткам
sales_equal_inv_idx = (iv_sales['inventory'] == iv_sales['sales']) 
# Дни, когда продажи >= остаткам
sales_greater_i_idx = (iv_sales['inventory'] <= iv_sales['sales']) 

# Суммарные продажи товара в данном магазине
sum_k = iv_sales['sales'].sum()
# Количество дней, когда продажи были меньше остатка
n_k_less_m = iv_sales['sales'][(~zero_idx) & (~sales_greater_i_idx)].count()
# Количество дней, когда продажи были равны остатку (все распродано)
n_k_equal_m = iv_sales['sales'][(~zero_idx) & sales_greater_i_idx].count()

alpha = 1
LAMBDA = sum_k / (n_k_less_m + alpha * n_k_equal_m)

print('sum_k: ', sum_k)
print('n_k_less_m: ', n_k_less_m)
print('n_k_equal_m: ', n_k_equal_m)
print('LAMBDA:', LAMBDA)

sum_k:  1.0
n_k_less_m:  179
n_k_equal_m:  1
LAMBDA: 0.005555555555555556

In [0]:
def kernel_default(x, y):
    return 1

In [0]:
def DemandRestoring(shop_id, product_id, kernel=kernel_default):
    # inventory = inventory[(inventory['product_id'] == product_id) & (inventory['shop_id'] == shop_id)]
    # inventory[(inventory['product_id'] == product_id) & (inventory['shop_id'] == shop_id)]

    # Агрегируем на всякий случай остатки на одну дату (берём максимально известный остаток за дату)
    iv_ts = inventory.reset_index().groupby('Timestamp').agg({'inventory':np.max})

    # Добавим пропущенные даты и заполним значения остатков в эти даты нулями
    iv_ts = iv_ts.reindex(pd.date_range(np.min(iv_ts.index), np.max(iv_ts.index))).fillna(method='ffill')

    # Добавим данные о продажах
    sales_ts = sales[(sales['product_id'] == product_id) & (sales['shop_id'] == shop_id)]

    # Объединим продажи и остатки в один датафрейм
    iv_sales = sales_ts[['sales']].merge(iv_ts, how='right', left_index=True, right_index=True)
    iv_sales['sales'].fillna(0, inplace=True)

    # Удалим начало и "хвост" истории, когда продажи и остатки были равны нулю
    positive_iv_sales = iv_sales[iv_sales.max(axis=1) > 0]
    life_start_date = positive_iv_sales.index[0]
    life_end_date = positive_iv_sales.index[-1]
    iv_sales = iv_sales[(iv_sales.index >= life_start_date) & (iv_sales.index <= life_end_date)] 

    # Дни, когда и остатки и продажи = нулю
    zero_idx = (iv_sales['inventory'] == 0) & (iv_sales['sales'] == 0)
    # Дни, когда продажи = остаткам
    sales_equal_inv_idx = (iv_sales['inventory'] == iv_sales['sales']) 
    # Дни, когда продажи >= остаткам
    sales_greater_i_idx = (iv_sales['inventory'] <= iv_sales['sales']) 




#     # вычисление веса для каждого периода, когда наблюдался дефицит 
#     iv_sales['LAMBDA'] = np.NaN
#     for oos_day in zero_idx:
#         iv_sales['weights'] = [kernel(iv_sales.index[oos_day], iv_sales.index[x]) for x in iv_sales.index] 

#         # Суммарные продажи товара в данном магазине
#         iv_sales['scalar'] = iv_sales['sales'][(~zero_idx)]*iv_sales['weights'][(~zero_idx)]
#         sum_k = iv_sales['scalar'].sum()
        
#         #   sum_k = iv_sales['sales'].sum()
#         # Количество дней, когда продажи были меньше остатка
# #         n_k_less_m = iv_sales['sales'][(~zero_idx) & (~sales_greater_i_idx)].count()
#         n_k_less_m = iv_sales['weights'][(~zero_idx) & (~sales_greater_i_idx)].sum()
#         # Количество дней, когда продажи были равны остатку (все распродано)
# #         n_k_equal_m = iv_sales['sales'][(~zero_idx) & sales_greater_i_idx].count()
#         n_k_equal_m = iv_sales['weights'][(~zero_idx) & sales_greater_i_idx].sum()

#         alpha = 1 # Возможно проапгрейдить
#         iv_sales['LAMBDA'][oss_day] = sum_k / (n_k_less_m + alpha * n_k_equal_m)




    lambda_data_t = pd.DataFrame(columns=['shop_id', 'product_id', 'month', 'lambda'])

    # вычисление веса для каждого периода, когда наблюдался дефицит
    iv_sales['LAMBDA'] = np.NaN
    for oos_day in zero_idx.index:
        # iv_sales['weights'] = [kernel(iv_sales.index[oos_day], iv_sales.index[x]) for x in iv_sales.index]
        iv_sales['weights'] = [kernel(oos_day.month, x.month) for x in iv_sales.index]
        # iv_sales['weights'] = [1 for x in iv_sales.index]

        # Суммарные продажи товара в данном магазине
        iv_sales['scalar'] = iv_sales['sales'][(~zero_idx)] * iv_sales['weights'][(~zero_idx)]
        sum_k = iv_sales['scalar'].sum()
        
        # Количество дней, когда продажи были меньше остатка
        n_k_less_m = iv_sales['weights'][(~zero_idx) & (~sales_greater_i_idx)].sum()

        # Количество дней, когда продажи были равны остатку (все распродано)
        n_k_equal_m = iv_sales['weights'][(~zero_idx) & sales_greater_i_idx].sum()

        alpha = 1 # Возможно проапгрейдить
        LAMBDA = sum_k / (n_k_less_m + alpha * n_k_equal_m)

        lambda_data_t = lambda_data_t.append({'shop_id': shop_id, 'product_id': product_id, 'month': oos_day.month, 'lambda': LAMBDA}, ignore_index=True)

    return lambda_data_t

In [0]:
lambda_data_t = DemandRestoring(4001, 4100000013).drop_duplicates()
lambda_data_t

      shop_id    product_id  month    lambda
0      4001.0  4.100000e+09    1.0  0.005556
1      4001.0  4.100000e+09    1.0  0.005556
2      4001.0  4.100000e+09    1.0  0.005556
3      4001.0  4.100000e+09    1.0  0.005556
4      4001.0  4.100000e+09    1.0  0.005556
...       ...           ...    ...       ...
1367   4001.0  4.100000e+09   10.0  0.005556
1368   4001.0  4.100000e+09   10.0  0.005556
1369   4001.0  4.100000e+09   10.0  0.005556
1370   4001.0  4.100000e+09   10.0  0.005556
1371   4001.0  4.100000e+09   10.0  0.005556

[1372 rows x 4 columns]

In [0]:
for shop_id in shops:
    for product_id in products:
        lambda_data_t = DemandRestoring(shop_id, product_id).drop_duplicates()
        lambda_data = lambda_data.append(lambda_data_t)

In [0]:
lambda_data[['shop_id', 'product_id', 'month']] = lambda_data[['shop_id', 'product_id', 'month']].astype('int64')
lambda_data['lambda'] = lambda_data['lambda'].astype('float64')
lambda_data

In [0]:
export_lambda_csv = lambda_data.to_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/DemandRestoring_v0/data/lambda_data.csv', sep=',', decimal='.')

Можно сразу подгрузить посчитанную lambda.

In [0]:
lambda_data = pd.read_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/DemandRestoring_v0/data/lambda_data.csv')
lambda_data

       Unnamed: 0  shop_id  product_id  month    lambda
0               0     4001  4100000013      1  0.005556
1               1     4001  4100000017      1  0.005587
2               2     4001  4100000029      1  0.000000
3               3     4001  4100000137      1  0.005556
4               4     4001  4100000170      1  0.005556
...           ...      ...         ...    ...       ...
14461       14461     4001  4900005055      1  0.000000
14462       14462     4001  4900005057      1  0.000000
14463       14463     4001  4900005059      1  0.000000
14464       14464     4001  4900005473      1  0.000000
14465       14465     4001  4900005475      1  0.005556

[14466 rows x 5 columns]

# Восстановление спроса на MERGE_TABLE_STORE_4600

In [0]:
MERGE_TABLE_STORE_4600 = pd.read_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/MERGE_TABLE_STORE_4600/MERGE_TABLE_STORE_4600.csv', sep=';', decimal='.')
MERGE_TABLE_STORE_4600['Timestamp'] = pd.to_datetime(MERGE_TABLE_STORE_4600['curr_date'], format='%d%b%Y')
MERGE_TABLE_STORE_4600['curr_date'] = MERGE_TABLE_STORE_4600['Timestamp']
MERGE_TABLE_STORE_4600 = MERGE_TABLE_STORE_4600.set_index(['Timestamp'], drop=True)
MERGE_TABLE_STORE_4600

            product_id  store_id  curr_date  s_qty  flg_spromo  stock
Timestamp
2016-02-01         200      4600 2016-02-01    NaN           0    2.0
2016-02-02         200      4600 2016-02-02    NaN           0    2.0
2016-02-03         200      4600 2016-02-03    NaN           0    2.0
2016-02-04         200      4600 2016-02-04    NaN           0    2.0
2016-02-05         200      4600 2016-02-05    NaN           0    2.0
...                ...       ...        ...    ...         ...    ...
2019-10-31    20042700      4600 2019-10-31    0.0           0    NaN
2019-11-01    20042700      4600 2019-11-01    NaN           0    1.0
2019-11-02    20042700      4600 2019-11-02    NaN           0    1.0
2019-11-03    20042700      4600 2019-11-03    NaN           0    1.0
2019-11-03    20051800      4600 2019-11-03    0.0           0    NaN

[13617314 rows x 6 columns]

In [0]:
shops_4600 = np.sort(MERGE_TABLE_STORE_4600['store_id'].unique())
print(len(shops_4600), shops_4600)

products_4600 = np.sort(MERGE_TABLE_STORE_4600['product_id'].unique())
print(len(products_4600), products_4600)

dates_4600 = pd.date_range(start=MERGE_TABLE_STORE_4600['curr_date'].min(), end=MERGE_TABLE_STORE_4600['curr_date'].max())
print(len(dates_4600), dates_4600)

1 [4600]
12554 [     200      400      500 ... 20030100 20042700 20051800]
1460 DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24',
               '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28',
               '2019-12-29', '2019-12-30'],
              dtype='datetime64[ns]', length=1460, freq='D')

In [0]:
def kernel_default(x, y):
    return 1

In [0]:
def DemandRestoring(shop_id, product_id, kernel=kernel_default):
    # Агрегируем на всякий случай остатки на одну дату (берём максимально известный остаток за дату)
    iv_ts = MERGE_TABLE_STORE_4600.reset_index().groupby('Timestamp').agg({'stock':np.max})

    # Добавим пропущенные даты и заполним значения остатков в эти даты нулями
    iv_ts = iv_ts.reindex(pd.date_range(np.min(iv_ts.index), np.max(iv_ts.index))).fillna(method='ffill')

    # Добавим данные о продажах
    sales_ts = MERGE_TABLE_STORE_4600[(MERGE_TABLE_STORE_4600['product_id'] == product_id) & (MERGE_TABLE_STORE_4600['store_id'] == shop_id)]

    # Объединим продажи и остатки в один датафрейм
    iv_sales = sales_ts[['s_qty']].merge(iv_ts, how='right', left_index=True, right_index=True)

    # Удалим начало и "хвост" истории, когда продажи и остатки были равны нулю
    positive_iv_sales = iv_sales[iv_sales.max(axis=1) > 0]
    life_start_date = positive_iv_sales.index[0]
    life_end_date = positive_iv_sales.index[-1]
    iv_sales = iv_sales[(iv_sales.index >= life_start_date) & (iv_sales.index <= life_end_date)] 

    # Дни, когда и остатки и продажи = нулю
    zero_idx = (iv_sales['stock'] == 0) & (iv_sales['s_qty'] == 0)
    # Дни, когда продажи = остаткам
    sales_equal_inv_idx = (iv_sales['stock'] == iv_sales['s_qty']) 
    # Дни, когда продажи >= остаткам
    sales_greater_i_idx = (iv_sales['stock'] <= iv_sales['s_qty']) 

    lambda_data_t = pd.DataFrame(columns=['shop_id', 'product_id', 'month', 'lambda'])

    # вычисление веса для каждого периода, когда наблюдался дефицит
    iv_sales['LAMBDA'] = np.NaN
    for oos_day in zero_idx.index:
        # iv_sales['weights'] = [kernel(iv_sales.index[oos_day], iv_sales.index[x]) for x in iv_sales.index]
        iv_sales['weights'] = [kernel(oos_day.month, x.month) for x in iv_sales.index]
        # iv_sales['weights'] = [1 for x in iv_sales.index]

        # Суммарные продажи товара в данном магазине
        iv_sales['scalar'] = iv_sales['s_qty'][(~zero_idx)] * iv_sales['weights'][(~zero_idx)]
        sum_k = iv_sales['scalar'].sum()
        
        # Количество дней, когда продажи были меньше остатка
        n_k_less_m = iv_sales['weights'][(~zero_idx) & (~sales_greater_i_idx)].sum()

        # Количество дней, когда продажи были равны остатку (все распродано)
        n_k_equal_m = iv_sales['weights'][(~zero_idx) & sales_greater_i_idx].sum()

        alpha = 1 # Возможно проапгрейдить
        LAMBDA = sum_k / (n_k_less_m + alpha * n_k_equal_m)

        lambda_data_t = lambda_data_t.append({'shop_id': shop_id, 'product_id': product_id, 'month': oos_day.month, 'lambda': LAMBDA}, ignore_index=True)

    return lambda_data_t

In [0]:
lambda_data_4600_t = DemandRestoring(4600, 200).drop_duplicates(ignore_index=True)
lambda_data_4600_t

     shop_id  product_id  month    lambda
0     4600.0       200.0    1.0  0.006211
20    4600.0       200.0    2.0  0.006211
49    4600.0       200.0    3.0  0.006211
80    4600.0       200.0    4.0  0.006211
110   4600.0       200.0    5.0  0.006211
141   4600.0       200.0    6.0  0.006211
171   4600.0       200.0    7.0  0.006211
202   4600.0       200.0    8.0  0.006211
233   4600.0       200.0    9.0  0.006211
263   4600.0       200.0   10.0  0.006211
294   4600.0       200.0   11.0  0.006211
324   4600.0       200.0   12.0  0.006211

In [0]:
lambda_data_4600 = pd.DataFrame(columns=['shop_id', 'product_id', 'month', 'lambda'])

for shop_id in shops_4600:
    for product_id in products_4600:
    # for product_id in [200, 400, 500]:
        lambda_data_4600_t = DemandRestoring(shop_id, product_id).drop_duplicates(ignore_index=True)
        lambda_data_4600 = lambda_data_4600.append(lambda_data_4600_t)

In [0]:
lambda_data_4600

In [0]:
lambda_data_4600[['shop_id', 'product_id', 'month']] = lambda_data_4600[['shop_id', 'product_id', 'month']].astype('int64')
lambda_data_4600['lambda'] = lambda_data_4600['lambda'].astype('float64')
export_lambda_4600_csv = lambda_data_4600.to_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/MERGE_TABLE_STORE_4600/lambda_data_4600.csv', sep=',', decimal='.')

In [0]:
lambda_data_4600 = pd.read_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/MERGE_TABLE_STORE_4600/lambda_data_4600.csv', sep=',', decimal='.')

In [0]:
lambda_data_4600.head()

     shop_id  product_id  month    lambda
0       4600         200      1  0.006211
20      4600         200      2  0.006211
49      4600         200      3  0.006211
80      4600         200      4  0.006211
110     4600         200      5  0.006211

# Reward

Service Level:

In [0]:
sl_data = pd.read_csv('/content/gdrive/My Drive/A Reinforcement Learning Approach for Inventory Optimization in Retail/MERGE_TABLE_STORE_4600/data/echelon/echelon_1_sl.csv', sep=';')
sl_data['date_from'] = pd.to_datetime(sl_data['date_from'], format='%d%b%Y')
sl_data['date_to'] = pd.to_datetime(sl_data['date_to'], format='%d%b%Y')
sl_data

         date_from    date_to  product_ids  location_ids  value
0       2019-05-18 2019-05-19          200         16500   0.81
1       2019-05-20 2019-05-20          200         16500   0.90
2       2019-05-21 2019-05-21          200         16500   0.81
3       2019-05-22 2019-05-22          200         16500   0.95
4       2019-05-24 2019-06-10          200         16500   0.81
...            ...        ...          ...           ...    ...
2893689 2019-06-26 2019-06-26     19907000        357900   0.45
2893690 2019-06-26 2019-06-26     19907000        364400   0.45
2893691 2019-06-26 2019-06-26     19907000        375700   0.45
2893692 2019-06-26 2019-06-26     19907000        411200   0.45
2893693 2019-06-26 2019-06-26     19907000        465600   0.45

[2893694 rows x 5 columns]

In [0]:
products_echelon_1 = np.sort(sl_data['product_ids'].unique())
print(len(products_echelon_1), products_echelon_1)

locations_echelon_1 = np.sort(sl_data['location_ids'].unique())
print(len(locations_echelon_1), locations_echelon_1)

dates_echelon_1 = pd.date_range(start=sl_data['date_from'].min(), end=sl_data['date_to'].max())
print(len(dates_echelon_1), dates_echelon_1)

9089 [     200      500      800 ... 19902400 19902500 19907000]
59 [  4600  16500  22800  32700  34000  34800  35200  42500  43400  44400
 132100 136300 136500 140400 140600 140800 145200 146100 147000 181000
 183300 185200 185300 191000 193400 193800 199100 201700 202000 210400
 211800 223500 223600 230900 243300 357900 358400 359200 360400 360900
 363600 364400 364900 365000 366600 375400 375700 376200 385200 411200
 412000 412300 422700 425000 430000 431000 436900 465600 497200]
40 DatetimeIndex(['2019-05-18', '2019-05-19', '2019-05-20', '2019-05-21',
               '2019-05-22', '2019-05-23', '2019-05-24', '2019-05-25',
               '2019-05-26', '2019-05-27', '2019-05-28', '2019-05-29',
               '2019-05-30', '2019-05-31', '2019-06-01', '2019-06-02',
               '2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06',
               '2019-06-07', '2019-06-08', '2019-06-09', '2019-06-10',
               '2019-06-11', '2019-06-12', '2019-06-13', '2019-06-14',
               '2019-06-15', '2019-06-16', '2019-06-17', '2019-06-18',
               '2019-06-19', '2019-06-20', '2019-06-21', '2019-06-22',
               '2019-06-23', '2019-06-24', '2019-06-25', '2019-06-26'],
              dtype='datetime64[ns]', freq='D')

In [0]:
reward = 0

for shop_id in [shop for shop in shops_4600 if shop in locations_echelon_1]:
    for product_id in [prod for prod in products_4600 if prod in products_echelon_1]:
    # for product_id in [18973900]:

        store_sales_t = MERGE_TABLE_STORE_4600[MERGE_TABLE_STORE_4600['store_id']==shop_id]
        store_sales_t = store_sales_t[store_sales_t['product_id']==product_id].fillna(0)

        sl_data_t = sl_data.set_index(['date_from'], drop=True)
        sl_data_t = sl_data_t[sl_data_t['location_ids']==shop_id]
        sl_data_t = sl_data_t[sl_data_t['product_ids']==product_id]

        if not sl_data_t.empty:

            # Дополнительная обработка пропусков в sl_data_t
            all_days = pd.date_range(start=sl_data_t.index.min(), end=sl_data_t['date_to'].max())
            sl_data_t.index = pd.DatetimeIndex(sl_data_t.index)
            sl_data_t = sl_data_t.reindex(all_days, method='ffill')
            sl_data_t = sl_data_t.drop(columns=['date_to'])

            r = (store_sales_t['s_qty'] - store_sales_t['stock'] * (1 - sl_data_t['value']) / sl_data_t['value']).sum()
            reward += r

print('reward =', reward)

reward = -151099.16302236047

# Остальные составляющие среды

Order(SKU, ТТ)_t - это количество товаров,отправка которого инициировано соответствующим Recommended_Order(SKU, ТТ)_t, которое финально доедет и будет выставлено на полку в магазин.

Order(SKU, ТТ)_t и Recommended_Order_t в этих обозначениях _t - дата, когда сформировались данные объёмы.

State: (Stock(SKU, ТТ)_j, Sales(SKU, ТТ)_j, Demand(SKU, ТТ)_j, Orders_Pipeline(SKU, ТТ): [Order_t, Ordrer_t-n, Order_t-m, Order_t-p], n<m<p) period t1-t2

Хранить Stock, Sales и Demand как dataframe?

LT = 1

Важно: в State продаж (Sales) и остатки (Stock) - модельные (нужно моделировать. Те, Sales и Stock, что пришли в данных от заказчика (как результат работы реальной системы) - нужны только для восстановления спрос

*   Demand(SKU)_t = F(Sales_all_data, Inv_all_history)
*   Моделирование Sales_t = MAX(Demand_t, Inv_{t-1}+Orders_{t-LT+})
*   Моделирование Inv_t = MAX(Inv_{t-1} + Orders_{t-LT+} - Demand_t, 0)

In [0]:
def sales_update(shop_id, product_id, LT):
    sales_data_t = pd.DataFrame(columns=['shop_id', 'product_id', 'sales'])

    sales = max(
        # demand_data[demand_data['shop_id']==shop_id][demand_data['product_id']==product_id].demand
        sales_data[sales_data['shop_id']==shop_id][sales_data['product_id']==product_id].iloc[-1].sales
        ,
                stock_data[stock_data['shop_id']==shop_id][stock_data['product_id']==product_id].iloc[-1].stock
                + order_data[order_data['shop_id']==shop_id][order_data['product_id']==product_id].iloc[-1-LT].value)
    sales_data_t = sales_data_t.append({'shop_id': shop_id, 'product_id': product_id, 'sales': sales}, ignore_index=True)

    return sales_data_t

In [0]:
def stock_update(shop_id, product_id, LT):
    stock_data_t = pd.DataFrame(columns=['shop_id', 'product_id', 'stock'])

    stock = max(stock_data[stock_data['shop_id']==shop_id][stock_data['product_id']==product_id].iloc[-1].stock
                + order_data[order_data['shop_id']==shop_id][order_data['product_id']==product_id].iloc[-1-LT].value
                - 
                # demand_data[demand_data['shop_id']==shop_id][demand_data['product_id']==product_id].demand
                sales_data[sales_data['shop_id']==shop_id][sales_data['product_id']==product_id].iloc[-1].sales
                , 0)

    stock_data_t = stock_data_t.append({'shop_id': shop_id, 'product_id': product_id, 'stock': stock}, ignore_index=True)

    return stock_data_t

Рекомендация к заказу: Recommend_Order_t = OUL - (INV + Orders_t - 1), IF Inv_t <= ROL 0, otherwise.

recommend_order - наша рекомендация к заказу
<br>order - объем получаемого заказа

order = F(recommend_order_t, alpha_order)
<br>1)order <= recommend_order_t 
<br>2)$\sum_{sku}$ E(order_{sku,t}) = alpha_order * E(recommend_order_{sku,t})

inv[t] = max(inv[t - 1] + order_come[t] - demand(m), 0)
<br>sales = max(demand(m), inv[t - 1] + order_come[t])

In [0]:
def rec_order_update(shop_id, product_id, OUL, ROL):
    recommended_order_data_t = pd.DataFrame(columns=['shop_id', 'product_id', 'value'])

    if stock_data[stock_data['shop_id']==shop_id][stock_data['product_id']==product_id].iloc[-1].stock <= ROL:
        value = OUL - stock_data[stock_data['shop_id']==shop_id][stock_data['product_id']==product_id].iloc[-1].stock - order_data[order_data['shop_id']==shop_id][order_data['product_id']==product_id].iloc[-1].value
        recommended_order_data_t = recommended_order_data_t.append({'shop_id': shop_id, 'product_id': product_id, 'value': value}, ignore_index=True)
    else:
        recommended_order_data_t = recommended_order_data_t.append({'shop_id': shop_id, 'product_id': product_id, 'value': 0}, ignore_index=True)

    return recommended_order_data_t

In [0]:
def order_update(shop_id, product_id):
    alpha_order = 0.3
    order_data_t = pd.DataFrame(columns=['shop_id', 'product_id', 'value'])

    rec_order = recommended_order_data[recommended_order_data['shop_id']==shop_id][recommended_order_data['product_id']==product_id].iloc[-1].value
    value = np.random.binomial(n=rec_order, p=alpha_order)
    order_data_t = order_data_t.append({'shop_id': shop_id, 'product_id': product_id, 'value': value}, ignore_index=True)

    return order_data_t

In [0]:
$from scipy import stats

# Uniform Distribution -- mu=(a+b-1)/2
def order_update0(rec_order, alpha_order):
    return np.random.uniform(rec_order * alpha_order, rec_order)

# Poisson Distribution -- mu=lambda
def order_update1(rec_order, alpha_order):
    return np.min([np.random.poisson(rec_order * alpha_order), rec_order], axis=0)

# Binomial Distribution -- mu=n*p
def order_update2(rec_order, alpha_order):
    return np.random.binomial(n=rec_order, p=alpha_order)

# Negative Binomial Distribution -- mu=n(1-p)/p
def order_update3(rec_order, alpha_order):
    return np.random.negative_binomial(n=rec_order, p=1-alpha_order)

# Negative Binomial Distribution -- mu=n(1-p)/p
def order_update4(rec_order, alpha_order):
    return np.min([np.random.negative_binomial(n=rec_order, p=1-alpha_order), rec_order], axis=0)

# Beta-Binomial Distribution -- mu=n*a/(a+b)
def order_update5(rec_order, alpha_order):
    return stats.betabinom.rvs(n=rec_order, a=alpha_order*rec_order, b=rec_order)

In [0]:
rec_order = 1
alpha_order = 0.3

realization0 = [order_update0(rec_order, alpha_order) for x in range(10000)]    # Uniform Distribution                          -- mu=(a+b-1)/2
realization1 = [order_update1(rec_order, alpha_order) for x in range(10000)]    # Poisson Distribution with np.min              -- mu=lambda
realization2 = [order_update2(rec_order, alpha_order) for x in range(10000)]    # Binomial Distribution                         -- mu=n*p
realization3 = [order_update3(rec_order, alpha_order) for x in range(10000)]    # Negative Binomial Distribution                -- mu=n(1-p)/p
realization4 = [order_update4(rec_order, alpha_order) for x in range(10000)]    # Negative Binomial Distribution with np.min    -- mu=n(1-p)/p
realization5 = [order_update5(rec_order, alpha_order) for x in range(10000)]    # Beta-Binomial Distribution                    -- mu=n*a/(a+b)

plt.figure(figsize=(20, 10))
for i, real in enumerate([realization0, realization1, realization2, realization3, realization4, realization5]):
    plt.subplot(2, 3, i + 1)
    plt.hist(real)
    plt.xlabel(np.mean(real))

# SMART algorithm

Варивнт 1: State — это все возможные комбинации sales, stock, sl для каждой пары sku $\times$ loc:

In [0]:
state = pd.DataFrame(columns=['sku', 'location', 'sales', 'stock', 'sl', 'used'])

for shop_id in [shop for shop in shops_4600 if shop in locations_echelon_1]:
    # for product_id in [prod for prod in products_4600 if prod in products_echelon_1]:
    for product_id in [18973900]:

        store_sales_t = MERGE_TABLE_STORE_4600[MERGE_TABLE_STORE_4600['store_id']==shop_id]
        store_sales_t = store_sales_t[store_sales_t['product_id']==product_id].fillna(0)
        store_sales_t = store_sales_t.drop(columns=['curr_date', 'flg_spromo'])

        sl_data_t = sl_data.set_index(['date_from'], drop=True)
        sl_data_t = sl_data_t[sl_data_t['location_ids']==shop_id]
        sl_data_t = sl_data_t[sl_data_t['product_ids']==product_id]

        if not sl_data_t.empty:

            # Дополнительная обработка пропусков в sl_data_t
            all_days = pd.date_range(start=sl_data_t.index.min(), end=sl_data_t['date_to'].max())
            sl_data_t.index = pd.DatetimeIndex(sl_data_t.index)
            sl_data_t = sl_data_t.reindex(all_days, method='ffill')
            sl_data_t = sl_data_t.drop(columns=['date_to'])

            state_t = pd.merge(store_sales_t, sl_data_t['value'], how='right', left_on=store_sales_t.index, right_on=sl_data_t.index)
            state_t = state_t.rename(columns={'product_id': 'sku', 'store_id': 'location', 's_qty': 'sales', 'value': 'sl'})
            state_t = state_t.drop(columns=['key_0'])
            state_t = state_t.drop_duplicates()
            state_t = state_t.dropna()
            state_t['used'] = 0
            state = state.append(state_t, ignore_index=True)

In [0]:
state

        sku location  sales  stock    sl used
0  18973900     4600    0.0    2.0  0.70    0
1  18973900     4600    0.0    2.0  0.90    0
2  18973900     4600    0.0    2.0  0.65    0

Вариает 2:

In [0]:
from itertools import product

def reload_state():
    state = pd.DataFrame(columns=['sku', 'location', 'sales', 'stock', 'sl', 'used'])

    sales = [i for i in range(4)]
    stock = [i for i in range(4)]
    sl = [i for i in np.arange(0.1, 1.1, 0.1)]
    order = [i for i in range(4)]
    state_t = pd.DataFrame(list(product(sales, stock, sl, order)), columns=['sales', 'stock', 'sl', 'order'])

    state = pd.merge(state, state_t, how='outer')
    values = {'sku': 18973900.0, 'location': 4600, 'used': 0}
    state = state.fillna(value=values)
    return state

In [0]:
state = reload_state()
state

            sku  location  used  sales  stock   sl  order
0    18973900.0      4600     0      0      0  0.0      0
1    18973900.0      4600     0      0      0  0.0      1
2    18973900.0      4600     0      0      0  0.0      2
3    18973900.0      4600     0      0      0  0.0      3
4    18973900.0      4600     0      0      0  0.1      0
..          ...       ...   ...    ...    ...  ...    ...
635  18973900.0      4600     0      3      3  0.8      3
636  18973900.0      4600     0      3      3  0.9      0
637  18973900.0      4600     0      3      3  0.9      1
638  18973900.0      4600     0      3      3  0.9      2
639  18973900.0      4600     0      3      3  0.9      3

[640 rows x 7 columns]

Каким может быть список допустимых Action A_(SKU, Location):
* Set of Order UpTo Level = {0, …, MAX_Demand} 
<br>$\times$
* Set of Re-Order Level = {0, ORDER_UpTo_Level-1}

In [0]:
# Считаем пока что только для одной пары sku x loc и без различия месяцев
l_data_t = DemandRestoring(4600, 18973900).drop_duplicates(ignore_index=True)
l_data_t = l_data_t.head(1)
l_data_t

   shop_id  product_id  month    lambda
0   4600.0  18973900.0    1.0  0.002761

In [0]:
import math

m = 1
s = 0
for l in range(m):
    s += l_data_t['lambda']**l * np.exp(-l_data_t['lambda']) / math.factorial(l)
s

0    0.997243
Name: lambda, dtype: float64

In [0]:
def reload_action():
    action = pd.DataFrame(columns=['sku', 'location', 'OUL', 'ROL', 'used'])
    OUL = [i for i in range(4)]
    ROL = [i for i in range(max(OUL))]
    action_t = pd.DataFrame(list(product(OUL, ROL)), columns=['OUL', 'ROL'])

    action = pd.merge(action, action_t, how='outer')
    values = {'sku': 18973900.0, 'location': 4600, 'used': 0}
    action = action.fillna(value=values)
    return action

In [0]:
action = reload_action()
action

           sku  location  used  OUL  ROL
0   18973900.0      4600     0    0    0
1   18973900.0      4600     0    0    1
2   18973900.0      4600     0    0    2
3   18973900.0      4600     0    1    0
4   18973900.0      4600     0    1    1
5   18973900.0      4600     0    1    2
6   18973900.0      4600     0    2    0
7   18973900.0      4600     0    2    1
8   18973900.0      4600     0    2    2
9   18973900.0      4600     0    3    0
10  18973900.0      4600     0    3    1
11  18973900.0      4600     0    3    2

In [0]:
def reload_reward():
    state_size = [i for i in range(len(state))]
    action_size = [i for i in range(len(action))]
    reward = pd.DataFrame(list(product(state_size, action_size)), columns=['state', 'action'])
    reward['R'] = 0
    return reward

In [0]:
reward = reload_reward()
reward

      state  action  R
0         0       0  0
1         0       1  0
2         0       2  0
3         0       3  0
4         0       4  0
...     ...     ... ..
7675    639       7  0
7676    639       8  0
7677    639       9  0
7678    639      10  0
7679    639      11  0

[7680 rows x 3 columns]

1. Let time step $m=0$. Initialize action values $R(i,a)=0$ for all $i∈S$ and $a∈A_i$. Set the cumulative reward $C=0$, the total time $T=0$, and the reward rate $ρ=0$. Start system simulation.

2. While $m<$ MAX_STEPS do

    If the system state at the time step $m$ is $i∈S$,

    (a) Decay $α_m$ and $p_m$ according to some scheme (as explained in Section 3.2.2).

    (b) With probability $1-p_m$, choose an action $a∈A_i$ that maximizes $R(i,a)$, otherwise choose a random (exploratory) action from the set {$A_i$ \ $a$}.

    (c) Simulate the chosen action. Let the system state at the next decision epoch be $j$. Also let $t(i,j,a)$ be the transition time, and $r(i,j,a)$ be the immediate reward earned as a result of taking action $a$ in state $i$.

    (d) Change $R(i, a)$ using:
    $R(i,a)←(1-α_m)R(i,a)+α_m${$r(i, j, a) - ρt(i, j, a) + max_b R(j, b)$}

    (e) In case a non-exploratory action was chosen in step 2(b)

    *   Update total reward $C←C+r(i,j,a)$
    *   Update total time $T←T+t(i,j,a)$
    *   Update average reward $ρ←C/T$
    *   Else, go to step (f).

<dd>(f) Set $i←j$, and $m←m+1$.

In [0]:
def maximization_R():

In [0]:
shop_id = 4600
product_id = 18973900
LT = 1

recommended_order_data = pd.DataFrame(columns=['shop_id', 'product_id', 'value'])
order_data = pd.DataFrame(columns=['shop_id', 'product_id', 'value'])
sales_data = pd.DataFrame(columns=['shop_id', 'product_id', 'sales'])
stock_data = pd.DataFrame(columns=['shop_id', 'product_id', 'stock'])

state = reload_state()
action = reload_action()
reward = reload_reward()

m = 0 # time step
T = 0 # total time
C = 0 # cumulative reward / total reward
p = 0 # reward rate / average reward
MAX_STEPS = 1

action_indeces = [i for i in range(len(action))]

while m < MAX_STEPS:
    if m == 0:
        i = 0 #state index
        alpha = 1
        probability = 1

        sales_data = sales_data.append({'shop_id': shop_id, 'product_id': product_id, 'sales': state.at[i, 'sales']}, ignore_index=True)
        stock_data = stock_data.append({'shop_id': shop_id, 'product_id': product_id, 'stock': state.at[i, 'stock']}, ignore_index=True)
        order_data = order_data.append({'shop_id': shop_id, 'product_id': product_id, 'value': state.at[i, 'order']}, ignore_index=True)
    else:
        alpha = 0.01 / m
        probability = 0.1

    state.at[i, 'used'] = 1

    non_exploratoty = np.random.binomial(n=1, p=1-probability)

    if non_exploratoty:
        action_index = reward[reward['state']==i].R.idxmax()
    else:
        action_index = np.random.choice(action_indeces, 1)[0]
        action_indeces.remove(action_index)

    action.at[action_index, 'used'] = 1



    # (c) Simulate the chosen action. Let the system state at the next decision epoch be 𝑗. Also let 𝑡(𝑖,𝑗,𝑎) be the transition time,
    #     and 𝑟(𝑖,𝑗,𝑎) be the immediate reward earned as a result of taking action 𝑎 in state 𝑖.

    recommended_order_data = recommended_order_data.append(rec_order_update(shop_id, product_id, action.iloc[action_index].OUL, action.iloc[action_index].ROL), ignore_index=True)
    order_data = order_data.append(order_update(shop_id, product_id), ignore_index=True)
    sales_data = sales_data.append(sales_update(shop_id, product_id, LT), ignore_index=True)
    stock_data = stock_data.append(stock_update(shop_id, product_id, LT), ignore_index=True)

    new_state = pd.DataFrame(columns=['sku', 'location', 'sales', 'stock', 'sl', 'order'])
    new_state = new_state.append({'sku': product_id,
                                  'location': shop_id,
                                  'sales': sales_data[sales_data['shop_id']==shop_id][sales_data['product_id']==product_id].iloc[-1].sales,
                                  'stock': stock_data[stock_data['shop_id']==shop_id][stock_data['product_id']==product_id].iloc[-1].stock,
                                  'sl': state.at[i, 'sl'],
                                  'order': order_data[order_data['shop_id']==shop_id][order_data['product_id']==product_id].iloc[-1].value
                                  }, ignore_index=True)

    j = state[(state.sales==new_state.sales[0]) & (state.stock==new_state.stock[0]) & (state.sl==new_state.sl[0]) & (state.order==new_state.order[0])].index[0]

    reward_index = reward[(reward['state']==i) & (reward['action']==action_index)].index[0]

    r = (new_state['sales'] - new_state['stock'] * (1 - new_state['sl']) / new_state['sl']).sum()
    # reward.at[reward_index, 'R'] = (1 - alpha) * reward.at[reward_index, 'R'] + alpha * (r[i][j][a] - p * t[i][j][a] + maximization_R())

    # if non_exploratoty:
    #     C = C + r[i][j][a]
    #     T = T + t[i][j][a]
    #     p = C / T
        
    # i = j
    m += 1